/*  
font-family: "playfair-display", serif;
font-weight: 400;
font-style: normal;

font-family: futura-pt, sans-serif;
font-weight: 500;
font-style: normal;
*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box
}

h1, .nav-title{
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:3rem;
}

h3{
    font-size:1.5rem;
}

h4{
    font-size:1rem;
}

p{
    font-family: "playfair-display", serif;
    font-weight: 400;
    font-style: normal;
    
}

.navbar{
    padding:0 !important;
    margin:0;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.navbar-toggler:hover {
   border: none !important;
   outline: none !important;
   box-shadow: none !important;
   background: transparent !important;
}

.nav-title a{
    font-size:2rem;
    padding:0.5rem;
    text-decoration: none;
}

#navigation{
    display:flex;

    border-bottom:solid black 2px;
}

#nav-links{
    justify-content: flex-end;
}


.links{
    display:flex;
    flex-direction:row;
    font-family: "playfair-display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

a{
    margin: auto 0.5rem;
    text-decoration: none;
    color: black !important;
    text-shadow: -.25px -.25px 0 transparent,
        .25px .25px transparent;
    margin: 0 4px;
    cursor:pointer;
}

a:hover {
    text-shadow: -.25px -.25px 0 black,
        .25px .25px black;
}

.active a{
    font-weight:bolder;
}

.hamburger-icon{
    display:none;
    position:relative;
    margin:0 1rem;
    height:50px;
    width:50px;
    border:0;
    background-color: transparent;
}

.h-icon{
    transform:rotate(0deg);
    transition: .25s ease-in-out;
}

.h-icon.open .top-bar{
    margin-top:0;
    transform: rotate(135deg);
}

.h-icon.open .middle-bar{
    left:50%;
    opacity: 0;
}

.h-icon.open .bottom-bar{
    margin-top:0;
    transform: rotate(-135deg);
}

.icon-bar {
   position:absolute;
   left:0;
   height: 2px;
   width: 100%;
   opacity:1;
   background: black;
   transform: rotate(0deg);
   transition: .25s linear;
}

.top-bar{
    margin-top:-33%;
}


.bottom-bar{
    margin-top:33%;
}

.container{
    padding:1rem;
}

.seperator{
    background-color:black;
    height:2px;
    width:100%;
}

.footer-section{
    display:flex;
    flex-direction:column;
}

#footer-links{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    padding:0.5rem 0;
    flex:1;
}

footer{
    height:fit-content;
    border-top: 2px solid black;
    padding:1rem;
}

footer h3{
    font-family: "playfair-display", serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 0.5rem;
}

#footer-links a{
    text-decoration: none;
    font-size:1rem;
}

#block{
    height:100vh;
    
}

@media screen and (max-width:960px) {

    #nav-links{
        border-top:solid black 2px;
    }
    
    .links{
        display:flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .hamburger-icon{
        display:block;
    }
}